html {
  overflow-y: scroll;
}

body {
  max-width:1200px;
  min-width:340px;
  margin: 0 auto;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight:400;
  line-height: 1.4em;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
a {
  color: #008899;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 2px;
  margin-bottom: 2px;
}
h1 {
  margin-top: 15px;
  line-height: 1.2em;
  font-size: 2.8em;
  text-align: center;
  font-weight:700;
}
h2, .links {
  text-align: center;
  font-size: 1.5em;
}

.page-heading{
  text-align: center;
}

.project-heading {
  text-align: center;
}

.project-sub-heading {
  text-align: center;
}

.project-status {
  text-align: center;
}

.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.photocolumn {
  flex: 50%;
  min-width: 50%;
  max-width: 70%;
  padding: 15px 15px;
}

.textcolumn {
  text-align: justify;
  flex: 40%;
  min-width: 20%;
  padding:15px 15px;
}

.navigation {
  list-style: none;
  text-align: center;
  font-size: 1.2em;
  padding: 0;
}
.navigation li {
  display: inline-block;
}
.navigation li:not(:first-child):before {
  content: '| ';
}

@media (max-width: 760px){  
  .photocolumn {
    flex: 100%;
    max-width: 100%;
    padding:5px
  }
  
  .textcolumn {
    text-align: justify;
    flex: 100%;
    padding:5px
  }
}

@media screen 
  and (max-device-width: 420px) 
  and (max-device-height: 768px) 
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait){
  body {
      max-width:1200px;
      min-width:340px;
      margin: 0 auto;
      padding: 1em;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.2em;
      font-weight:500;
      line-height: 1.4em;
      background: #fff;
      color: #000;
      -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
  }
  
  .page-heading{
    text-align: center;
    font-size:1.5em;
    line-height: 0.5em;
  }

  .navigation{
    list-style: none;
    text-align: center;
    font-size: 1em;
    padding: 0;
  }
  
  .project-heading {
    text-align: center;
    font-size:1.2em;
    line-height: 0.5em;
  }
  
  .project-sub-heading {
    text-align: center;
    font-size:1.2em;
    line-height: 1.25em;
  }
  .photocolumn {
    flex: 100%;
    max-width: 100%;
    padding:5px
  }
  
  .textcolumn {
    text-align: justify;
    flex: 100%;
    padding:5px;
    line-height: 1.2em;
  }
}

@media screen 
  and (max-device-width: 768px) 
  and (max-device-height: 420px) 
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape){
    
  body {
    max-width:1200px;
    min-width:340px;
    margin: 0 auto;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight:500;
    line-height: 1.4em;
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }  
    
  .page-heading{
    text-align: center;
    font-size:1.5em;
    line-height: 0.5em;
  }

  .navigation{
    list-style: none;
    text-align: center;
    font-size: 1em;
    padding: 0;
  }
  
  .project-heading {
    text-align: center;
    font-size:1.0em;
    line-height: 0.5em;
  }
  
  .project-sub-heading {
    text-align: center;
    font-size:1.0em;
    line-height: 1.25em;
  }
  
  .photocolumn {
    flex: 100%;
    max-width: 100%;
    padding:5px
  }
  
  .textcolumn {
    text-align: justify;
    flex: 100%;
    padding:5px;
    font-size: 1.0em;
    line-height: 1.2em;
  }
}