---
layout: default
title: Portfolio
pagination:
  enabled: true
---

  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding">
      <div class="grid-small">
        <h2 itemprop="name headline">{{ page.title }}</h2>

        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}
        {% unless hidden == true %}
            <!-- The tag below includes the markup for each post - partials/post-card.html -->
            {% include post-card.html %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
